 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/gfgffg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 896px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: normal;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  width: 897px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 17px 343px 0 244px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 17px auto 60px 223px;
  padding: 9px 33px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 242px;
    margin-left: 144px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -22px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 5.07% 50%;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 132px;
    margin-left: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 14.12% 50%;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    width: auto;
    margin-right: 0;
    margin-left: -15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(#478ac9, #adf6f2);
}

.u-section-2 .u-sheet-1 {
  min-height: 1436px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: Rubik;
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  border-style: none;
  margin: 35px auto 0 0;
  padding: 17px 36px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-shape-1 {
  width: 409px;
  height: 409px;
  margin: 31px 29px 0 auto;
}

.u-section-2 .u-image-1 {
  height: 460px;
  object-position: 0% 65.31%;
  width: 466px;
  margin: -430px auto 0 29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 20px;
    margin-right: 15px;
  }

  .u-section-2 .u-image-1 {
    height: 411px;
    width: 406px;
    margin-top: -370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1215px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 130px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 25px;
  }

  .u-section-2 .u-shape-1 {
    width: 526px;
    height: 526px;
  }

  .u-section-2 .u-image-1 {
    height: 525px;
    width: 562px;
    margin-top: -487px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-shape-1 {
    width: 460px;
    height: 460px;
    margin-top: 0;
    margin-right: 4px;
  }

  .u-section-2 .u-image-1 {
    height: 457px;
    width: 457px;
    margin-top: -457px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.125rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-2 .u-shape-1 {
    width: 299px;
    height: 299px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 322px;
    width: 302px;
    margin-top: -288px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1310px;
}

.u-section-3 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-family: Aladin;
  font-size: 1.875rem;
}

.u-section-3 .u-audio-1 {
  width: 500px;
  height: 111px;
  margin: 34px 305px 56px auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-audio-1 {
    margin-right: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-audio-1 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-3 .u-audio-1 {
    margin-right: 39px;
    margin-bottom: 50px;
  }
}